* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

#container {
    display: grid;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd"
    "sd mn mn mn mn mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft ft ft";
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-columns: 10vw;
}

header {
    grid-area: hd;
    background-color: aqua;
}

input {
    margin-bottom: 10px;
}

#sideMenu {
    grid-area: sd;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gold;
}

#sideMenu h3 {
    margin: 5px 0px;
    text-decoration: underline;
}

#sideMenu button {
    margin-bottom: 5px;
    padding: 5px 0px;
    width: 75%;
}

.mainContent {
    grid-area: mn;
    background-color: lawngreen;
}

#logIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logInForm {
    display: flex;
    flex-direction: column;
}

#registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registrationForm {
    display: flex;
    flex-direction: column;
}

#createPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#createPostForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: ft;
    background-color: violet;
}