* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd"
    "sd mn mn mn mn mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft ft ft";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 10vw;
    height: 100vh;
    width: 100vw;
}

header {
    grid-area: hd;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 10px 20px;
    background-color: rgb(38,38,38);
    color: rgb(255,255,255)
}

header h1 {
    font-size: 48px;
}

#logOrRegister button{
    padding: 1px 5px;
}

#registerButton {
    margin-left: 10px;
}

input {
    margin-bottom: 10px;
}

#sideMenu {
    grid-area: sd;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38,38,38);
    color: rgb(255,255,255);
}

#sideMenu h3 {
    margin: 5px 0px;
    text-decoration: underline;
}

.sideMenuButton {
    margin-bottom: 5px;
    padding: 5px 5px;
    font-size: 14px;
    width: 8vw;
}

.mainContent {
    grid-area: mn;
    padding: 10px;
    background-color: rgb(247,247,247);
}

.postElement {
    border-bottom: 2px solid rgb(38,38,38);
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.postElement:last-of-type {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.postTitle {
    text-decoration: underline;
}

.postAuthor {
    font-style: italic;
}

.postMessageButton {
    padding: 1px 5px;
    font-size: 14px;
}

#logIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logInForm {
    display: flex;
    flex-direction: column;
}

#registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registrationForm {
    display: flex;
    flex-direction: column;
}

#createPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#createPostForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myPosts {
    display: grid;
    grid-template-areas: "posts messages";
    grid-template-columns: 50%;
}

#allMessagesArea {
    grid-area: messages;
}

#postArea {
    grid-area: posts;
}

footer {
    display: flex;
    grid-area: ft;
    background-color: rgb(38,38,38);
    color: rgb(255,255,255);
    justify-content: center;
    align-items: center;
    font-family: cursive;
}